%form{:action => '/search', :method => 'get'}
  %input{:type => 'text', :name => 'q', :value => params['q']}
  %input{:type => 'submit', :value => 'Search'}
  = link_to '#', 'clear', 'clear'

%form{:action => '/redis', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  %label
    Change Database
    -selected = AppConfig::Redis.options[:db].to_i
    %select{:name => 'db', :class => 'db'}
      - 10.times do |i|
        %option{:value => i, :selected => (selected == i)}= i

= link_to '#', 'live poll', 'poll'

#redis
  .redis_header.row
    .actions
    .key Key
    .type Type
    .ttl TTL
    .values Value

.templates{:style => 'display: none;'}
  %script#row_template{:type => 'text/x-jquery-tmpl'}
    .row{'data-key' => '${key}'}
      .actions
        = link_to('/redis/${key}', image_tag('delete_small.png'), 'delete', 'delete')
        = link_to('#', image_tag('collapsed.png'), 'toggle_expand', 'expand')
      .key
        = "${key}"
      .type
        = "${type}"
      .ttl
        = "${ttl}"
      .values
        = "${value}"
  -# .string
  %script#list_template{:type => 'text/x-jquery-templ'}
    ="{{each value}}"
    .value
      ="${$value}"
    ="{{/each}}"

  %script#set_template{:type => 'text/x-jquery-templ'}
    ="{{each value}}"
    .value
      ="${$value}"
    ="{{/each}}"

  %script#zset_template{:type => 'text/x-jquery-templ'}
    ="{{each value}}"
    .value{:title => "${$value.score}"}
      ="${$value.value}"
    ="{{/each}}"

  %script#hash_template{:type => 'text/x-jquery-templ'}
    ="{{each value}}"
    .value
      ="${$value}"
    ="{{/each}}"

  %script#string_template{:type => 'text/x-jquery-templ'}
    .value
      ="${value}"
