#redis
  - @redis_content.each do |row|
    .row
      .actions
        = link_to delete_key_path(row['key']), 'delete', 'delete'
      .keys
        = row['key']
      .types
        = row['type']
      .values
        = partial "values/#{row['type']}", :locals => {:value => row['value']}
